<footer class="site-footer">
    <div class="wrapper">
        <!-- hypercomments -->

        <!-- hypercomments -->

        <!-- Google Analitics -->

    

        <!-- Google Analitics -->

        <h2 class="footer-heading">
            {{ site.title }}<br />
            Актуальность: 2021 год.
        </h2>
    </div>
</footer>
